 .u-section-1 {
  background-image: url("images/Eteindre-un-feu-avec-un-extincteur-.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 899px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 483px auto 0 -20px;
  padding: 5px 28px 6px 26px;
}

.u-section-1 .u-group-1 {
  width: 427px;
  min-height: 317px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 28px 143px 37px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 11px 12px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0 18px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 9px auto -19px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 113px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 69.15% 92.03%;
    background-size: auto 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1504px;
}

.u-section-2 .u-shape-1 {
  width: 258px;
  height: 258px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 62px auto 0 34px;
}

.u-section-2 .u-image-1 {
  width: 885px;
  height: 885px;
  background-image: url("images/8.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -231px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 739px;
  height: 739px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -313px auto 0 67px;
}

.u-section-2 .u-group-1 {
  width: 576px;
  min-height: 807px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -703px auto 0 155px;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 32px 0 0;
}

.u-section-2 .u-shape-3 {
  width: 175px;
  height: 175px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -395px 79px 220px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: 207px;
    height: 207px;
  }

  .u-section-2 .u-image-1 {
    width: 818px;
    height: 818px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 34px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 157px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-2 .u-shape-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-2 .u-image-1 {
    width: 658px;
    height: 658px;
  }

  .u-section-2 .u-shape-2 {
    width: 720px;
    height: 720px;
    margin-top: -148px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: -684px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1520px;
  }

  .u-section-2 .u-shape-1 {
    width: 157px;
    height: 157px;
  }

  .u-section-2 .u-image-1 {
    width: 506px;
    height: 506px;
  }

  .u-section-2 .u-shape-2 {
    width: 691px;
    height: 691px;
    margin-top: 32px;
    margin-left: -76px;
    margin-right: -76px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: -504px;
  }

  .u-section-2 .u-shape-3 {
    width: 162px;
    height: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1330px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-shape-2 {
    width: 570px;
    height: 570px;
    margin-left: -115px;
    margin-right: -115px;
  }

  .u-section-2 .u-group-1 {
    min-height: 410px;
    margin-top: -304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-shape-3 {
    width: 140px;
    height: 140px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 3028px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 3027px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-3 .u-image-1 {
  height: 808px;
  object-position: 0% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-group-1 {
  width: 462px;
  height: 511px;
  box-shadow: -4px 2px 40px 19px rgba(128,128,128,1);
  margin: -658px 133px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 22px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  background-image: none;
  font-style: italic;
  text-transform: uppercase;
  margin: 164px auto 0 360px;
}

.u-section-3 .u-image-2 {
  width: 632px;
  height: 445px;
  margin: 24px 3px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -380px 670px 0 42px;
}

.u-section-3 .u-image-3 {
  height: 478px;
  width: 600px;
  margin: 93px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  margin: -445px 43px 0 645px;
}

.u-section-3 .u-image-4 {
  width: 595px;
  height: 455px;
  margin: 65px 22px 0 auto;
}

.u-section-3 .u-text-5 {
  margin: -400px 640px 0 12px;
}

.u-section-3 .u-slider-1 {
  min-height: 650px;
  height: auto;
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-5 {
  background-image: url("images/23.jpg");
}

.u-section-3 .u-container-layout-3 {
  padding: 17px 51px;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  text-decoration: underline !important;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 45px 8px 0 0;
}

.u-section-3 .u-image-6 {
  background-image: url("images/23.jpg");
}

.u-section-3 .u-container-layout-4 {
  padding: 0 13px;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  text-decoration: underline !important;
  margin: 24px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 84px 47px 0 18px;
}

.u-section-3 .u-image-7 {
  background-image: url("images/23.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 9px 40px 5px;
}

.u-section-3 .u-text-10 {
  font-style: italic;
  text-decoration: underline !important;
  margin: 3px 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  margin: 61px 24px 0 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 2415px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 2496px;
  }

  .u-section-3 .u-image-1 {
    height: 666px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -586px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 297px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 512px;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 488px;
    margin-bottom: initial;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-right: 452px;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 241px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 260px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 510px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -443px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 227px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 292px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-4 {
    margin-bottom: 0;
    margin-left: 268px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 232px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 185px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 93px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    height: 383px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -326px;
    margin-right: 78px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 170px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 380px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-right: 112px;
  }

  .u-section-3 .u-image-3 {
    height: 430px;
    width: 540px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-left: 88px;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 413px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 52px;
  }

  .u-section-3 .u-slider-1 {
    margin-top: 161px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 146px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 241px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -72px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 107px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 239px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 271px;
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 260px;
    margin-top: 137px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-bottom: initial;
  }

  .u-section-3 .u-slider-1 {
    margin-top: 8px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 90px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 349px;
  }
} .u-section-4 {
  background-image: url("images/21.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1280px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 997px;
  margin: 60px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 544px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-4 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-4 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-4 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-4 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-4 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-4 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-4 .u-text-7 {
  margin: 11px 47px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 544px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  height: 388px;
  width: 439px;
  margin: 0 1px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  padding: 14px 0 15px;
}

.u-section-4 .u-group-1 {
  background-image: none;
  min-height: 619px;
  width: 997px;
  height: auto;
  margin: 0 auto 41px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 60px;
}

.u-section-4 .u-text-8 {
  font-size: 4.5rem;
  margin: 0 auto 0 573px;
}

.u-section-4 .u-image-1 {
  height: 301px;
  width: 322px;
  margin: 74px auto 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 320px;
  min-width: 160px;
  margin: 38px auto 0;
}

.u-section-4 .u-icon-4 {
  color: rgb(59, 89, 152) !important;
}

.u-section-4 .u-icon-5 {
  color: rgb(85, 172, 238) !important;
}

.u-section-4 .u-icon-6 {
  color: rgb(197, 54, 164) !important;
}

.u-section-4 .u-icon-7 {
  color: rgb(0, 122, 185) !important;
}

.u-section-4 .u-icon-8 {
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 513px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 19px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-4 .u-form-1 {
    width: 411px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    width: 100%;
  }

  .u-section-4 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-text-8 {
    margin-left: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    width: 301px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 431px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    order: 0;
    min-height: 501px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.25rem;
    margin-left: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.875rem;
    margin-left: 209px;
  }

  .u-section-4 .u-image-1 {
    height: 299px;
    width: 320px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 243px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    height: 39px;
  }
}